# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Processed data & model artifacts
processed/

# Submissions
submission*.csv

# VS Code
.vscode/
